name: Publish Packages
on:
    push:
        branches:
            - master
jobs:
    build-and-publish:
        runs-on: ubuntu-latest
        steps:
            - name: Check out repository
              uses: actions/checkout@v3

            - name: Set up Node.js
              uses: actions/setup-node@v3
              with:
                  node-version: 20
                  scope: '@dr.edisn'
                  registry-url: https://registry.npmjs.org
              env:
                  NODE_AUTH_TOKEN: ${{ secrets.DEPLOY_TOKEN }}

            - name: Install dependencies
              run: npm ci --force
              
            - name: Publish cdk
              run: npm publish
